body {
	min-width: 500px;
	background-color: #dcdadb;
}

.title {
	background-color: #42f456;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}

#url {
	margin-top: 10px;
	color: red;
}
